.register {
  background-image: url('../../asset/images/pinterestbg.png');
  height: 100%;
  min-height: 100vh;
  margin: 0 auto;
  .register-content {
    justify-content: center;

    .register__paper {
      margin: auto;

      .register__form {
        border-radius: 16px;
        background-color: white;
        display: flex;
        width: 100%;
        flex-direction: column;
        padding: 2rem;
        box-shadow: 0 12px 40px rgba(0, 0, 0, 0.12);
        .error-text {
          color: red !important;
        }

        .logo {
          margin-bottom: 20px;
          width: 310px;
          margin-bottom: 15px;
        }
      }
    }
  }

  .forgot-password-link {
    font-size: 14px;
    color: #007bad;
    text-decoration: none;
    margin-top: 0.75rem;

    p {
      display: inline-block;
      margin: 0px 0px 20px 0px;
    }
  }

  .login-link {
    font-size: 14px;
    display: flex;
    margin-top: 1rem;
    text-align: center;

    a {
      text-decoration: none;
    }

    p {
      margin: 0px 0px 20px 0px;
      color: #007bad;
    }
  }
}
